<!DOCTYPE html>
<html lang="ua">
{% block head %}
{% endblock %}
<body>
    <header>
         <nav>
             <h2 id="viriHeader">VIRI</h2> 
                <ul class="nav-list">
                    <li><a href="#proUs" class="aboutUs">ПРО НАС</a></li>
                    <li><a href="#UsProject" >ПРОЄКТИ</a></li>
                    <li><a href="#UsContact" >КОНТАКТИ</a></li>
                </ul>
        </nav>
        <div class="content">
            <h1>НАДІЙНІСТЬ<br> У КОЖНОМУ<br> ПРОЄКТі</h1>
            <p>Будівельне підприємство, що втілює ваші мрії в реальність.</p>
            <button onclick="location.href='#UsProject'" class="our-project">Наші проєкти</button>
            <button onclick="location.href='#UsContact'" class="our-contacts">Наші контакти</button>
        </div>
        <div class="header_img">
            <img src="{{ url_for('static', filename = 'imgs/House 1.png') }}" alt="" class="House">
        </div>
        <img src="{{ url_for('static', filename = 'imgs/logo_cleaned 1.png') }}" class="logo" alt="">
    </header>
    <main id="proUs">
        <div class="bg">
            <img src="{{ url_for('static', filename = 'imgs/left bg.png') }}" class="left-bg" alt="">
            <div class="our-build-enterprice"><h3>Наше будівельне підприємство </h3>
                <p class="description">VIRI - будівельне підприємство, яке виконує повний комплекс будівельних робіт на промислових та приватних об'єктах. Колектив компанії - професіонали з досвідом роботи в середньому від 8 років. Ми ретельно стежимо за інноваціями та впроваджуємо їх 
                </p>
               <div class="experience"> <div class="additional-info"><h4>Попередні проєкти</h4>
                <p class="number">87+</p>
            </div>
            <div  class="additional-info"><h4>років досвіду</h4>
                <p class="number">14+</p>
            </div>
            <div  class="additional-info"><h4>Поточні проєкти</h4>
                <p class="number">8</p>
            </div></div>
            </div>
        </div>
        {% block projects %} {% endblock %}

    </main>
    <footer id="UsContact">
        <div class="footer-box">
            <div class="contact-info">
                <div>
                    <h2>VIRI</h2>
                    <a href="https://www.google.com/maps/place/Владимир-Волынский+район,+Волынская+область/@50.8469197,23.9670224,9.31z/data=!4m6!3m5!1s0x47245ef190409b63:0x4aa8dda2ba183b18!8m2!3d50.8956572!4d24.2358874!16s%2Fm%2F06w1vx7?entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D"><img src="{{ url_for('static', filename = 'imgs/Vector.png') }}" class="icons" alt="">Україна, Волинська область<br> м. Володимир</a><br>

                <div class="phone">
                    <a href="callto:+38 098 083 0260"><img src="{{ url_for('static', filename = 'imgs/ic_baseline-phone.png') }}" alt=""class="icons">+38 098 083 0260 </a>  <p class="name">Роман</p><br>
                </div>

                <div class="phone">
                    <a href="callto:+38 073 409 7213"><img src="{{ url_for('static', filename = 'imgs/ic_baseline-phone.png') }}" alt=""class="icons">+38 073 409 7213 </a> <p class="name">Сергій</p> <br>
                </div>
                <a href="mailto:contact@gmail.com"><img src="{{ url_for('static', filename = 'imgs/ic_baseline-email.png') }}"  class="icons"alt="">contact@gmail.com</a>

                <p>Copyright @ 2025 Viri Inc.</p>
                </div>
                
                <div class="social-media">
                    <p class="name">social media</p>
                    <a href="">Facebook</a><br>
                    <a href="">TikTok</a>
                </div>
                
            </div>
        </div>
    </footer>
</body>
</html>