<html>

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/profile.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <title>Профіль</title>
    </head>

    <body>
        <h3>Ваш профіль: {{ adminLogin }}</h3>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

      <form action="/change-login" method="post">
            
        <label>Змінити логін:</label>

        <input type="text" name="newLogin" placeholder="Введіть новий логін">

        <button type="submit">Змінити</button>

    </form>

        <form action="/change-password" method="post">

        <label>Змінити пароль:</label>

        <input type="text" name="newPassword" placeholder="Введіть новий пароль">
        <input type="text" name="oldPassword" placeholder="Введіть старий пароль">

        <button type="submit">Змінити</button>

    </form>
        
    </body>
</html>